/* 
    Document   : se_styles
    Created on : Mar 19, 2013, 2:47:28 PM
    Author     : Jeremy
    Description:
        Purpose of the stylesheet follows.
*/

.root { 
    -fx-background-color: #FFFFFF;
    -fx-text-fill: black;
    -fx-alignment: TOP_LEFT;
    -fx-font-size: 12pt;
    -fx-font-family:"Helvetica";
    -fx-text-fill: #000;
    -fx-alignment: center-left;
}

.form-text-area {
    -fx-border-color: #efefef;
    -fx-border-style: solid;
    -fx-border-width: 1;
}

.borders{
    -fx-border-color: #0085B2;
    -fx-border-style: solid;
    -fx-border-width: 1.0;
    -fx-border-insets: -5;
}

.scroll-pane {
    -fx-background-color:#fff;
}

#top-bar {
   -fx-background-image: url('../images/se-top-back.png');
   -fx-text-fill: white;
   -fx-alignment: CENTER;  
}

#bottom-bar {
   -fx-background-color: #0085B2; 
   -fx-text-fill: white;
   -fx-alignment: CENTER;  
}

#welcomeText {
   -fx-font-size: 14pt;
   -fx-text-fill: #0085B2;
   -fx-alignment: CENTER;  
}

#welcomeTextSub {
    -fx-font-size: 12pt;
    -fx-text-fill: #0085B2;
	-fx-font-style:italic;
    -fx-alignment: center-left;
    -fx-opacity: 1;  
}

#error-message {
   -fx-font-size: 14pt;
   -fx-text-fill: red;
   -fx-alignment: CENTER;     
}

.side-bar {
   -fx-background-color:#FBFDFE;
   -fx-background-image: url('../images/se-sidebar-back.png');
   -fx-text-fill: white;
   -fx-margin: 0px;
   -fx-background-repeat: repeat-x;
   -fx-background-position: bottom;
   -fx-background-size: auto;
}

.greyBox { 
    -fx-background-color: #efefef;
    -fx-border: 1px solid #ccc;
    -fx-alignment: TOP_LEFT;
}

.whiteBackground {
    -fx-background-color: #fff;
    -fx-border: none;
}

.blue {
    -fx-background-color: #0085B2;
    -fx-text-fill: white;
    -fx-alignment: TOP_LEFT;
}

.whiteBorder {
    -fx-border:1px solid #fff;
}

.grey {
    -fx-background-color: #efefef;
    -fx-text-fill: #000;
    -fx-alignment: TOP_LEFT;    
}



.table-view .column-header .label {
    -fx-font-size: 12pt;
    -fx-font-family:"Helvetica";
    -fx-text-fill: #333;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}
.table-view .table-row:nth-child(odd) {
    -fx-background-color: #efefef;
}
.boldText {
    -fx-font-weight: bold;
}
.italicText {
    -fx-font-style:italic;
}
.titles {
    -fx-font-size: 20pt;
    -fx-text-fill: #0085B2;
    -fx-alignment: center-left;
    -fx-opacity: 1;  
}

.sub-titles {
    -fx-font-size: 16pt;
    -fx-text-fill: #0085B2;
    -fx-alignment: center-left;
    -fx-opacity: 1;  
}

.notices {
    -fx-font-size: 14pt;
    -fx-text-fill: #999;
    -fx-alignment: center-left;
    -fx-opacity: 1;
    -fx-font-style:italic;
}

.icon-captions {
	-fx-font-size: 10pt;
}

#section-node {
    -fx-font-size: 8pt;
    -fx-font-family:"Helvetica";
    -fx-text-fill: #999;
    -fx-alignment: center-left;
}

.button:hover {
    -fx-background-color: 
        #286F2C,
        linear-gradient(#215C24 0%, #205923  100%),
        linear-gradient(#6BCB73 0%, #339037 15%, #28732D 50%, #28712C 51%, #205923 100%);
}


.button:pressed {
    -fx-background-color: 
        #286F2C,
        linear-gradient(#215C24 0%, #205923  100%),
        linear-gradient(#215C24 0%, #163F18 100%);
}
.button {
    -fx-background-color: 
        #286F2C,
        linear-gradient(#215C24 0%, #205923  100%),
        linear-gradient(#3BA53F 0%, #339037 5%, #28732D 50%, #28712C 51%, #205923 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 7 7 7 7;
    -fx-text-fill: #242d35;
    -fx-font-family: "Helvetica";
    -fx-font-size: 12px;
    -fx-text-fill: white;
}

.button Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.8) , 0, 0.0 , 0 , -1 );
}

.combo-box {
    -fx-background-color:
    linear-gradient(#efefef 0%, #efefef 5%, #efefef 50%, #efefef 51%, #ccc 100%);
}

.combo-box .arrow-button {
    -fx-border:none;
    -fx-background-color: 
        linear-gradient(#006080 0%, #0085B2 5%, #0085B2 51%, #006080 100%);
    
}

.combo-box .arrow {
    -fx-background-color: #fff;
}

#combo-box-search {
    -fx-background-color:#efefef;
    -fx-font-size:14px;
}

#combo-box-search .arrow-button {
    -fx-background-color: #efefef;
    
}

#combo-box-search .arrow {
    -fx-background-color: #0085B2;
}

#mainSearchField {
    -fx-font-size:14px;
}

.error {
    -fx-text-fill: yellow;
    -fx-font-weight:bold;
}

.greyCaps {
    -fx-text-transform:capitalize;
    -fx-fill: #999;
    -fx-font-size: 12px;
}

.error-red {
    -fx-fill: red;   
    -fx-font-size:12px;
}

.list-view {
    -fx-border:none;
}

.sidebarHighlightPane {
    -fx-background-image: url('../images/se-back-highlight-frame.png');
    -fx-border-color: #fff;
    -fx-border-style: solid;
    -fx-border-width: 1.0;
    -fx-border-insets: 0;
}

.split-pane:vertical > * > .split-pane-divider {
   -fx-border-color:  transparent;
   -fx-background-color: transparent;
   -fx-background-insets: 0;
}

.split-pane:horizontal > * > .split-pane-divider {
   -fx-border-color:  transparent;
   -fx-background-color: transparent;
   -fx-background-insets: 0;
}

#dept-text-box {
    -fx-border-insets: 0;
}

.form-submit-box {
    -fx-background-color:#61B3CF;
}

